/*from here is the contact page part*/
body{
  
    background: white;
  font-family: 'Times New Roman', Times, serif;
}

main {
  margin-top: 110px;

}
#formcontact{
  padding-top: 50px;
  background-color: whitesmoke;
  margin: auto;
  margin-bottom: 40px;
  height: 730px;
 width: 700px;
 /* box-shadow: 5px 7px 7px gray; */
 border: 2px solid rgb(85, 84, 84)

}


  
 .containercont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin: auto;
    margin-top: -26px;
    
  }
  
  .contact-box {
    height: 520px;
    width:400px;
    background: white;
    border: 2px solid rgb(85, 84, 84);
    padding: 30px;
    margin-bottom: 30px;
  }
 
h2{
  display: flex;
  justify-content: center;
  margin: 0;
}

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    margin-top: 0;
  }
 
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-row .input-group {
    flex-basis: 45%;
  }

  #formcontact form input {
    font-family: Times, serif;
    font-size: 17px;
   text-align: left;
    width: 74%;
    background-color: whitesmoke;
    border: 2px solid rgb(85, 84, 84);
    padding: 10px;
  }
  
  /*this is for the message area*/
  #message {
    font-family: Times, serif;
    font-size: 20px;
    color: black;
    width:80%;
    background: whitesmoke;
    border: 2px solid rgb(85, 84, 84);
    outline: none;
    padding-left: 10px;
    padding-right: 200px;
    box-sizing: border-box;
  }
  
  label {
    text-align: left;
    font-size:20px;
    margin-left: 10%;
    margin-bottom: 5px;
    display: block;
    color: black;
  }
  
  /*send button */
   #contact {
    background: rgb(85, 84, 84);
    border: 1px solid white !important;
    width: 100px;
    color: white;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
  }


  #contact:hover {
    cursor: pointer;
    color: black;
    border: 1px solid white;
    background: rgb(31, 187, 244);
    font-weight: 600;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }

  .error-message {
    color: brown;
    padding-left: 5px;
  }





  @media only screen and (max-width: 320px) {
    #formcontact {
      width: 100%;
    }
  
    .contact-box {
      width: 80%;
    }
  
    #message  {
      width: 90%;
      padding-right: 0;
    }
  }

  @media only screen and (min-width: 321px) and (max-width: 630px) {
    /* Styles for screen sizes between 321px and 630px */
    #formcontact {
      width: 100%;
    }
  
    .contact-box {
      width: 80%;
    }
    #message  {
      width: 85%;
      padding-right: 0;
    }
  }
  

  @media only screen and (min-width: 631px) and (max-width: 933px) {
    /* Styles for screen sizes between 321px and 630px */
    #formcontact {
      width: 80%;
    }
  
    .contact-box {
      width: 80%;
    }
    #message  {
      width: 82%;
      padding-right: 0;
    }
  }